body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient (pink, rgb(255, 0, 225));
}

.container {
    text-align: center;
    position: relative;
    width: 300px;
    height: 200px;
    border: 2px solid #af1ea6;
    padding: 20px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}

#noButton {
    position: absolute;
}